@import "mixins";

:host {
  display: flex;
  z-index: 2000;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #fff;
  padding-top: 60px;

  .row {
    z-index: 2000;
  }

  @include breakpoint('tablet') {
    padding-top: 80px;
  }
}
