.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.row {
  width: 100%;

  & + .row {
    margin-top: $space-phone;
  }

  .row {
    padding: 0;
    display: flex;
    flex-direction: column;

    & + .row {
      margin-top: $space-phone;
    }

    .col {
      max-width: 360px;

      & + .col {
        margin-top: $space-phone;
      }
    }
  }

  @include breakpoint('tablet') {
    .row {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;

      .col {
        flex: 1;
        text-align: justify;
        max-width: none;

        & + .col {
          margin: 0 0 0 20px;
        }
      }
    }
  }
}
