// COLORS
$big-stone: rgba(26, 46, 68, 1);
$cornflower-blue: rgba(100, 149, 237, 1);

// SPACES
$space-phone: 12px;
$space-tablet: 16px;
$space-desktop: 20px;

//BREAKPOINTS
$phone-landscape: '425px';
$tablet: '768px';
$desktop-s: '960px';
$desktop: '1024px';
$desktop-l: '1200px';
$desktop-xl: '1440px';

$color-primary-blue: $big-stone;
$color-blue: $cornflower-blue;
$color-blue-transparent: rgba(100, 149, 237, .3);
