/* BREAKPOINTS*/
$phone-landscape: '425px';
$tablet: '768px';
$desktopS: '960px';
$desktop: '1024px';
$desktopL: '1200px';
$desktopXL: '1440px';

$colorBlue: rgba(100, 149, 237, 1);
$colorBlueTransparent: rgba(100, 149, 237, .3);
