// COLORS
$big-stone: rgba(26, 46, 68, 1);
$cornflower-blue: rgba(100, 149, 237, 1);
$flush-orange: rgba(255, 131, 0, 1);
$abbey: rgba(76, 79, 86, 1);
$gray: rgba(90, 90, 90, 1);

// SPACES
$space-phone: 12px;
$space-tablet: 16px;
$space-desktop: 20px;

//BREAKPOINTS
$phone-landscape: '425px';
$tablet: '768px';
$desktop-s: '960px';
$desktop: '1024px';
$desktop-l: '1200px';
$desktop-xl: '1440px';

$color-primary: $big-stone;
$color-secondary: $flush-orange;
$color-secondary-l30: lighten($flush-orange, 30%);
$color-gray: $abbey;
$color-gray-light: $gray;
