@import "mixins";

:host {
  align-items: center;
  background-color: $color-primary-blue;
  display: flex;
  height: 60px;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: background-color .4s ease;
  z-index: 10000;
  @include shadow();

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 960px;
    height: 100%;
  }

  a.page-headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    height: 100%;
    margin: 0;
    padding: 0 $space-phone;

    h1 {
      color: #fff;
      font-size: 1.2rem;
      line-height: 1.4;
    }

    h2 {
      font-size: .8rem;
      color: #fff;
      letter-spacing: 1px;
      line-height: 1;
      font-weight: 300;
    }
  }

  @include breakpoint('phone-landscape') {
    padding: 12px 0;
  }
}
