@import "mixins";

:host {
  align-items: center;
  background-color: $color-primary-blue;
  display: flex;
  height: 60px;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: background-color .4s ease;
  z-index: 10000;
  @include shadow();

  .container {
    flex-direction: row;
  }

  a.page-headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    height: 100%;
    margin: 0;
    padding: 0 $space-phone;

    h1 {
      color: #fff;
      font-size: 1.2rem;
      line-height: 1.4;
      margin: 0;
      padding: 0;
    }

    h2 {
      font-size: .8rem;
      color: #fff;
      letter-spacing: 1px;
      line-height: 1;
      font-weight: 300;
      margin: 0;
      padding: 0;
    }
  }

  @include breakpoint('tablet') {
    height: 80px;

    a.page-headline {
      padding: 0 $space-tablet;

      h1 {
        font-size: 1.3rem;
      }

      h2 {
        font-size: .9rem;
      }
    }
  }
}
