<h2>Persönliches</h2>
<div class="row">
  <div class="col">
    <h3>Entwicklung</h3>
    <p>Als Entwickler schaue ich über den Tellerrand und arbeite mit allen an der Produktions-Kette beteiligten Gewerken
      zusammen. <br>Dabei durfte ich in vielen Projekten unterschiedlicher Größe über diverse Branchen hinweg
      Erfahrungen sammeln.</p>
  </div>
  <div class="col">
    <h3>Problemlösung</h3>
    <p>Je komplexer das Produkt, desto anspruchsvoller die Konzepte. <br>Unsere Herausforderung besteht darin,
      Komplexität einfach und übersichtlich in eine stabile, skalierbare und performante Lösung zu überführen.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <h3>Beratung & Coaching</h3>
    <p>Mit den Jahren sammelt sich das Wissen. Dieses weiterzugeben ist ein Privileg. Als Berater, Teamleiter, Direktor
      und Coach durfte ich bereits mit vielen Menschen, sowohl Kunden als auch Kollegen, mein Wissen teilen und
      didaktische Fähigkeiten verbessern.</p>
  </div>
  <div class="col">
    <h3>Kaizen</h3>
    <p>Strukturiertes Arbeiten ist die Grundlage aller Gewerke. Es reicht von transparenter Kommunikation über klare
      Verantwortung hin zu sinnvoll dokumentierten Artefakten.<br>Ich strebe in allen Arbeitsbereichen
      kontinuierlich nach Effizienz und lebe das Prinzip des
      <a href="https://de.wikipedia.org/wiki/Kaizen" target="_blank">Kaizen</a>.
    </p>
  </div>
</div>
