<div class="v-card container">
  <div class="v-card__content">
    <div class="wrapper">
      <div class="v-card__content-description">
        <h2>Herzlich Willkommen!</h2>
        <p>
          Mein Name ist Heiko Ellerbrock und ich lebe und arbeite in Köln als <em>Freelance Frontend Developer</em> mit
          den
          Schwerpunkten <em>Frontend</em>, <em>UI</em>, <em>UX</em>, <em>JavaScript</em>, <em>TypeScript</em>,
          <em>Angular</em>, <em>React</em> und <em>Vue</em>.
        </p>
        <p>
          Seit über 10 Jahren bin ich an der Entwicklung skalierbarer <em>Web-Applikationen</em> und <em>E-Commerce
          Lösungen</em> beteiligt:<br>
        </p>
        <h3>Branchen</h3>
        <p>
          <i>Gesundheitswesen</i>, <i>Telekommunikation</i>, <i>Personalberatung</i>,
          <i>Sport</i>,
          <i>Handel</i>, <i>Medien</i>, <i>Industrie</i>, <i>Versicherungen</i>, <i>Finanzen</i>, ...
        </p>
        <h3>Dienstleistungen</h3>
        <ul>
          <li>Frontend Entwicklung</li>
          <li>Technische Konzeption</li>
          <li>Beratung</li>
          <li>Mentoring / Schulung</li>
        </ul>
        <p>Wenn Sie Unterstützung bei Ihren Projekten wünschen, fragen Sie mich sehr gerne an!</p>
      </div>
      <div class="v-card__content-portrait">
        <img
          src="../../../../assets/img/portrait-M.JPG"
          srcset="../../../../assets/img/portrait-S.JPG 600w, assets/img/portrait-M.JPG 960w, assets/img/portrait-L.JPG 2400w"
          alt="Portrait von Heiko Ellerbrock"
        />
      </div>
    </div>
  </div>
  <!--  TODO: Contact-Box: Linking phone and email-->
  <div class="v-card__contact">
    <div class="wrapper">
      <h2>Kontakt</h2>
      <ul>
        <li>heikoellerbrock@gmail.com</li>
        <li>0172 6174800</li>
      </ul>
      <div class="v-card__contact-social">
        <a href="https://www.linkedin.com/in/heiko-ellerbrock-a57643157/" target="_blank"><i
          class="icofont-linkedin linkedin"></i></a>
        <a href="https://www.xing.com/profile/Heiko_Ellerbrock2/cv" target="_blank"><i
          class="icofont-xing linkedin"></i></a>
      </div>
    </div>
  </div>
</div>

