@import "src/styles/mixins";

:host {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #fff;
  @include shadow();

  .v-card {
    &__content {
      display: flex;
      flex-direction: column;
      flex: 1;
      padding-top: 32px;

      .wrapper {
        display: flex;
        flex-direction: column;
      }

      &-portrait {
        display: flex;

        img {
          width: 100%;
          max-width: 400px;
        }
      }

      &-description {
        padding: 0 $space-phone;

        ul {
          li {
            padding: 4px 0;
            margin: 0;
          }
        }
      }
    }

    &__contact {
      .wrapper {
        background-color: $color-primary-blue;
        padding: 0 $space-phone;

        h2 {
          text-align: center;
          color: #fff;
          padding: $space-phone * 2 0 $space-phone 0;
          margin: 0;
          cursor: default;
          font-size: 1.4rem;
        }

        p {
          color: #ddd;
          text-align: center;
        }

        ul {
          padding: 0 $space-phone;
          list-style-type: none;

          li {
            padding: 4px 0;
            text-align: center;
            color: #ddd;
            cursor: default;
          }
        }
      }

      &-social {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        max-width: 400px;
        padding-bottom: $space-phone;

        a {
          text-decoration: none;
          padding: $space-phone;
          border-radius: 4px;

          &:hover {
            background-color: rgba(255, 255, 255, .1);
          }
        }

        i {
          font-size: 2rem;
          color: #fff;
        }
      }
    }
  }

  @include breakpoint('tablet') {
    .v-card {
      &__content {
        .wrapper {
          flex-direction: row;
        }

        &-portrait {
          margin-left: $space-tablet;
        }
      }
    }

    //.v-card__contact {
    //  border-radius: 4px;
    //  border: 1px solid #333;
    //  background-color: $color-primary-blue;
    //  display: flex;
    //  flex-direction: column;
    //  align-items: center;
    //
    //  h2 {
    //    text-align: center;
    //    color: #fff;
    //    padding: $space-phone * 2 $space-phone $space-phone;
    //    cursor: default;
    //  }
    //
    //  .wrapper {
    //    display: flex;
    //
    //  }
    //}
  }

  @include breakpoint('tablet') {
    .v-card {
      &__content {
        &-portrait {
          margin-left: $space-desktop;
        }
      }
    }
  }

}
