@import "src/styles/mixins";

:host {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #fff;
  @include shadow();

  .v-card-portrait {
    width: 100%;
    text-align: center;

    img {
      width: 100%;
      max-width: 400px;
    }

    &.big {
      @include breakpoint('phone-landscape') {
        display: none;
      }
    }

    &.small {
      display: none;
      float: right;
      width: 150px;
      padding: 0 0 $space-phone $space-phone;

      @include breakpoint('phone-landscape') {
        display: inline;
      }

      @include breakpoint('tablet') {
        width: 260px;
        padding: 0 0 $space-tablet $space-tablet;
      }
    }
  }

  .v-card-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 32px $space-phone;
  }

  .v-card__contact {
    border-radius: 4px;
    border: 1px solid #333;
    background-color: $color-primary-blue;

    h2 {
      text-align: center;
      color: #fff;
      padding: $space-phone * 2 $space-phone $space-phone;
      cursor: default;
    }
    ul {
      padding: 0 $space-phone;
      list-style-type: none;

      li {
        padding: 4px 0;
        text-align: center;
        color: #ddd;
        cursor: default;
      }
    }

    &-social {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      padding-bottom: $space-phone;

      a {
        text-decoration: none;
        padding: $space-phone;
        border-radius: 4px;
        &:hover {
          background-color: rgba(255,255,255,.1);
        }
      }

      i {
        font-size: 2rem;
        color: #fff;
      }
    }
  }

  @include breakpoint('tablet') {
    .v-card-content {
      padding: 32px $space-tablet;
    }
  }

}
